body {
    font-family: "Stratos Web";
    background: #202632;
}

.viewport {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #313A49;
    height: auto; /* Permite containerului să se ajusteze în funcție de conținut */
    width: 540px;
    justify-content: flex-start;
    border-radius: 20px;
    position: relative; /* Adăugat pentru a controla poziționarea absolută a butonului */
    padding: 20px; /* Adaugă padding pentru a evita suprapunerea */
}

.button {
    background: #53FFAB;
    border-radius: 100%;
    width: 65px;
    height: 65px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -30px; /* Mută butonul mai jos față de linia albă */
}

.text-box {
    width: 130px;
    height: 20px;
    margin: 40px 0 20px 0;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #53FFAB;
}

.text-box-2 {
    min-height: 114px;
    max-height: 200px; /* Limitează înălțimea maximă */
    width: 468px;
    padding: 15px;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #D9D9D9; 
    text-overflow: ellipsis;
    overflow-y: auto; /* Permite scroll vertical pentru textul lung */
    white-space: normal;
    margin-bottom: 20px; /* Adaugă spațiu între text și buton */
}

.text-box-3 {
    padding: 10px;
    position: relative; /* Asigură poziționarea corectă a liniei și a butonului */
    margin-bottom: 60px; /* Adaugă spațiu între linie și buton */
}

@media only screen and (max-width: 768px) {
    .container {
        height: auto; /* Ajustează înălțimea în funcție de conținut */
        width: 396px;
        padding: 20px;
    }
    .text-box-2 {
        max-height: 150px; /* Ajustează înălțimea maximă pentru ecrane mici */
        width: 350px;
        font-size: 24px; /* Diminuează fontul pentru a se încadra mai bine */
        margin-bottom: 40px;
    }
    .text-box {
        font-size: 18px;
    }
    .button {
        bottom: 20px; /* Menține butonul la o distanță constantă de partea de jos */
    }
    .imgagine {
        width: 100%;
    }
}